:root {
    --cellSize: 30vmin
}

#root {
  margin: 0 auto;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, var(--cellSize));
  grid-template-rows: repeat(3, var(--cellSize));
  gap: 0px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #dfe9ff;
  cursor: pointer;
  height: var(--cellSize);
  border: rgb(31, 73, 129);
  border-style: solid;
}

.cell-playable:hover {
  background-color: #f7faff;
}

.cell-not-playable {
  cursor: not-allowed;
  background-color: #afbbd4;
}

.cell-x {
  background-color: #dff5ff;
}

.cell-zero {
  background-color: rgb(223, 255, 234);
}